<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="lab.wesmartclothing.wefit.flyso">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".base.MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/app_name"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <!-- android7.0适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <!-- 轻牛SDK -->
        <service
            android:name="com.qingniu.qnble.scanner.BleScanService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.qingniu.scale.ble.ScaleBleService"
            android:enabled="true"
            android:exported="true">
        </service>

        <!-- BUGly升级 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>

        <!-- 高德地图KEY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="838e8b0162a88fd56a539bd1e786ef93"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".ui.main.MainActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.guide.SpalshActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.slimming.heat.AddFoodActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.slimming.heat.SearchHistoryActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.slimming.weight.WeightDataActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.slimming.sports.SportsDetailsActivity_"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.login.LoginActivity_">
        </activity>
        <activity android:name=".ui.login.UserInfoActivity">
        </activity>
        <activity android:name=".ui.login.AddDeviceActivity_">
        </activity>
        <activity android:name=".ui.WebActivity">
        </activity>
        <activity android:name=".ui.WebTitleActivity">
        </activity>

        <service
            android:name=".ble.BleService_"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".ui.login.LoginRegisterActivity"/>

        <activity android:name=".ui.main.CollectWebActivity">
        </activity>
        <activity android:name=".ui.main.slimming.sports.TempActivity_">
        </activity>
        <activity android:name=".TestBleScanActivity">
        </activity>
        <activity android:name=".ui.login.RegisterActivity">
        </activity>
        <activity android:name=".ui.login.BindPhoneActivity">
        </activity>
        <activity android:name=".ui.login.ForgetPasswordActivity">
        </activity>
        <activity android:name=".ui.login.VerificationPhoneActivity">
        </activity>
    </application>

</manifest>