<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="lab.wesmartclothing.wefit.flyso">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".base.MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_round"
        android:label="@string/appName"
        android:networkSecurityConfig="@xml/http_config"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,icon,roundIcon,theme">

        <!--java.lang.NoClassDefFoundError: -->
        <!--Failed resolution of: Lorg/apache/http/conn/scheme/SchemeRegistry;
        解决办法：
         <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>


        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/> <!-- android7.0适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider> <!-- 轻牛SDK -->
        <service
            android:name="com.qingniu.qnble.scanner.BleScanService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.qingniu.scale.ble.ScaleBleService"
            android:enabled="true"
            android:exported="true">
        </service> <!-- BUGly升级 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/> <!-- 高德地图KEY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="20cc8510855f543b2bf4c59d647852e2"/>

        <service android:name="com.amap.api.location.APSService"/> <!-- 极光通知广播 -->
        <receiver
            android:name=".utils.jpush.MyJpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>

                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/> <!-- 开机广播 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> <!-- 网络状态改变广播 -->

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver> <!-- DUF服务 -->
        <activity android:name=".ble.dfu.NotificationActivity"/>

        <service
            android:name=".ble.dfu.DfuService"
            android:exported="true"/> <!-- 友盟社会SDK -->
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a38b2e8b27b0a02a7000026">
        </meta-data> <!-- 友盟社会分享登录 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106924585"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity> <!-- 分割线============================================================================== -->
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.guide.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.slimming.weight.WeightDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.userinfo.UserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.userinfo.AddDeviceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.WebTitleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>

        <service
            android:name=".service.BleService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".ui.login.LoginRegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.CollectWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.toolui.TestBleScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.login.BindPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.login.VerificationPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".ui.main.mine.AboutFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.AccountFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.CollectFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.DeviceFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.EditFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.MessageDetailsFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.MessageFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.PhotoDetailsFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.ProblemFragemnt"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.Settingfragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.mine.UserInfofragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.heat.second.AddedFoodFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.heat.second.FoodDetailsFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.heat.second.FoodRecommend"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.heat.second.HeatDetailFragment"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.heat.SearchHistoryFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.sports.SportingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.sports.SportsDetailsFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.BodyFatFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.BodyDataFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.SettingTargetFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.TargetDateFargment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.TargetDetailsFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.WeightAddFragment"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.weight.WeightRecordFragment"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.sports.SmartClothingFragment"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.guide.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.main.slimming.plan.PlanMatterActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.plan.WelcomeActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.plan.PlanDetailsActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.plan.RecordInfoActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.heat.RecipesActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.energy.EnergyActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.toolui.Main2Activity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.sports.PlanSportingActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.main.slimming.plan.PlanActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.plan.PlanWebActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.InvitationCodeActivity"
            android:launchMode="singleTop">
        </activity> <!-- 开启一个空IntentService，左右启动web进程 -->
        <service
            android:name=".service.WebProcessService"
            android:exported="false"
            android:process=":web">
        </service>

        <activity
            android:name=".ui.main.slimming.heat.ImageActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.weight.HealthyAssessActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.slimming.weight.WeightContrastActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".ui.main.mine.HealthReportActivity"
            android:launchMode="singleTop"
            />

    </application>

</manifest>