<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="lab.dxythch.com.commonproject">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".base.MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <!-- android7.0适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="lab.dxythch.com.commonproject"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <activity
            android:name=".ui.main.MainActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.guide.SpalshActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.slimming.heat.AddFoodActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.slimming.heat.SearchHistoryActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.slimming.weight.WeightDataActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>

        <service
            android:name=".service.QNService_"
            android:enabled="true"
            android:exported="true">
        </service>

        <!-- 轻牛SDK -->
        <service
            android:name="com.qingniu.qnble.scanner.BleScanService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name="com.qingniu.scale.ble.ScaleBleService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".ui.main.slimming.sports.SportsDetailsActivity">
        </activity>
    </application>

</manifest>